<nav class="navbar navbar-dark bg-dark justify-content-around mb-5">
  <%= link_to "Navbar", lists_path, class: "navbar-brand"  %>
  <form class="form-inline d-inline-flex">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0 ms-3" type="submit">Search</button>
  </form>
</nav>
