html {
  background: rgb(80, 79, 79);
  background: linear-gradient(
    171deg,
    rgba(80, 79, 79, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 15%;
}

body {
  background: transparent;
}
